Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -misc-include-cleaner,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-uppercase-literal-suffix,
  -cert-dcl37-c,
  -cert-dcl51-cpp
WarningsAsErrors: ''
HeaderFilterRegex: '^(core|stage0|stage1|platform)/'
CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: '2'
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
